.color {
    display:grid;
grid-template-columns: 1fr 1fr;
justify-items: center;
align-items: center;
padding: 0 5rem;
}
.texto{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0 2rem;
}

.colornames-org {
    justify-self: end;
    font-size: 13px;
}


.recargar {
    font-size: 13px;
    justify-self: start;
}


.color-hex {
    justify-self: start;
    height: 20px;
    width: 50%;
    background-color: grey;
}
