body {
  transition: background-color 0.2s ease, color 0.2s ease;
}

img {
  width: 20px;
  height: 20px;
  right: 15px;
  top: 15px;
  position: fixed;
}

a {
  transition: color 0.2s ease;
}

a:visited {
  transition: color 0.2s ease;
}

.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 98%;
  max-width: 650px;
  margin: 25px auto;
}

header {
  justify-self: start;
}

header p {
  font-size: 18px;
  font-style: italic;
  margin-top: 40px;
}

.en-vivo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100px;
  align-items: end;
  margin: 20px 0;
}

.en-vivo label {
  font-size: 16px;
  color: #646464;
}

.en-vivo input {
  height: 10px;
}

.color {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1.5fr;
  padding: 20px 0;
  width: 100%;
}

.color-name {
  margin: 0 0 7px;
}

.color-hex {
  justify-self: start;
  height: 100%;
  width: 100%;
}

hr {
  width: 100%;
  max-width: 300px;
  margin-left: 0;
  margin-top: 50px;
  border: 1px solid rgb(218, 218, 218, 0.4);
}

footer {
  text-align: start;
  width: 100%;
  margin-bottom: 20px;
}

footer p:nth-child(3) {
  font-size: 13px;
}
