body {
  transition: background-color 0.2s ease, color 0.2s ease;
}

img {
  width: 20px;
  height: 20px;
  right: 7px;
  top: 7px;
  position: fixed;
}

a {
  transition: color 0.2s ease;
}

a:visited {
  transition: color 0.2s ease;
}

.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 98%;
  max-width: 650px;
  margin: 25px auto;
}

header {
  justify-self: start;
}

header p {
  font-size: 14px;
  font-style: italic;
  margin-top: 40px;
}

.color {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1.5fr;
  padding: 20px 0;
  width: 100%;
}

.color-name {
  margin: 0 0 7px;
}

.color-hex {
  justify-self: start;
  height: 100%;
  width: 100%;
}
