body {
  transition: background-color 0.2s ease, color 0.2s ease;
  background-color: black;
  color: white;
}
a {
  color: greenyellow;
  transition: color 0.2s ease;
}
a:visited {
  color: green;
  transition: color 0.2s ease;
}

.en-vivo label {
  color: #dfdfdf;
}
